body{
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #000000;
    text-align: center;
}

#game{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

}
canvas{
    outline: 1px solid #333;
}

#scores{
    color: #ffffff;
    font-size : 5vw;
    display: flex;
    justify-content: left;
    position: absolute;
    top: 0;
    width: 100%;
}

.score{
    color:#ffffff
}
.name{
    font-size: 3vw;
}

#scores >* {
    margin: 1px;
}